:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: transform .05s;
}
body{
  height: 100vh;
}
.notCards{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scores{
  display: flex;
  flex-direction: column;
  align-items: center;
}
body{
  background-image: url('./assets/transparent.png');
}
.card:hover{
  transform: scale(1.1);
  cursor: pointer;
}